<section class="packages-table dc-table container">

  <style>
    table,
    thead,
    tbody,
    th,
    td {
      border: 0 !important;
    }

    tr:not(:last-child) {
      border-bottom: 1px solid #e0e0e0;
    }

    td {
      text-align: center;
    }

    .color-primary {
      color: #FFAC3B;
    }

    .border-primary {
      border-color: #FFAC3B !important;
    }

    .table-row-flex:not(:last-child) {
      border-bottom: 1px solid #e0e0e0;
    }

    .col-12.p-3 {
      font-weight: 600;
    }
    th {
      padding-top: 1.5rem !important;
      padding-bottom: 1.5rem !important;
      padding-left: 2rem !important;
    }
    td > .cta-container {
      text-align: center;
    }

    .col-6 > .cta-container {
      text-align: center;
    }

  </style>

  <!-- DC Plans Table Section -->
  <!-- Desktop Table -->
  <div class="row d-none d-md-block">
    <div class="col-12 border rounded p-0 shadow">
        <table class="table text-center align-middle mb-0">
          <thead class="thead bg-light">
            <tr class="text-left">
              <th scope="col" class="fs-5">DC ACADEMY</th>
              <th scope="col" class="color-primary text-center fs-5 border-bottom border-dark">Free Membership</th>
              <th scope="col" class="text-center fs-5 border-bottom border-primary">VIP Membership</th>
            </tr>
          </thead>
          <tbody class="">
            <tr>
              <th scope="row" class="text-left">1. {{ section.settings.bullet_1 | escape }}</th>
              <td class="align-middle"><img width="20px" src="{{ 'table-checkmark.svg' | asset_url }}" alt=""></td>
              <td class="align-middle"><img width="20px" src="{{ 'table-checkmark.svg' | asset_url }}" alt=""></td>
            </tr>
            <tr>
              <th scope="row" class="text-left">2. {{ section.settings.bullet_2 | escape }}</th>
              <td class="align-middle"><img width="20px" src="{{ 'table-checkmark.svg' | asset_url }}" alt=""></td>
              <td class="align-middle"><img width="20px" src="{{ 'table-checkmark.svg' | asset_url }}" alt=""></td>
              </td>
            </tr>
            <tr>
              <th scope="row" class="text-left">3. {{ section.settings.bullet_3 | escape }}</th>
              <td>&#8213;</td>
              <td class="align-middle"><img width="20px" src="{{ 'table-checkmark.svg' | asset_url }}" alt=""></td>
            </tr>
            <tr>
              <th scope="row" class="text-left">4. {{ section.settings.bullet_4 | escape }}</th>
              <td>&#8213;</td>
              <td class="align-middle"><img width="20px" src="{{ 'table-checkmark.svg' | asset_url }}" alt=""></td>
            </tr>
            <tr>
              <th scope="row" class="text-left">5. {{ section.settings.bullet_5 | escape }}</th>
              <td>&#8213;</td>
              <td class="align-middle"><img width="20px" src="{{ 'table-checkmark.svg' | asset_url }}" alt=""></td>
            </tr>
            <tr>
              <th scope="row" class="text-left">6. {{ section.settings.bullet_6 | escape }}
              </th>
              <td>&#8213;</td>
              <td class="align-middle"><img width="20px" src="{{ 'table-checkmark.svg' | asset_url }}" alt=""></td>
            </tr>
            <tr>
              <th scope="row" class="text-left">7. {{ section.settings.bullet_7 | escape }}</th>
              <td>&#8213;</td>
              <td class="align-middle"><img width="20px" src="{{ 'table-checkmark.svg' | asset_url }}" alt=""></td>
            </tr>
            <tr>
              <th scope="row" class="text-left"></th>
              <td>
                <div class="cta-container py-4"><button href="{{ section.settings.free_link }}" class="cta-link btn btn-primary px-5">Free</button>
                </div>
              </td>
              <td>
                <div class="cta-container py-4">{% render 'subscribe-button', variant_id: '40438330032326', selling_plan: '566329542', button_text: '€97 / Month' %}</div>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div> <!-- End of Desktop Table -->

  <!-- Mobile Table -->
  <div class="row d-block d-md-none">
    <div class="col-12 border rounded p-0">
      <div class="text-center overflow-hidden">
        <div class="row table-row-flex">
          <div class="col-6 fs-s-3 fs-xs-4 px-s-2 px-xs-3 py-3 color-primary border-bottom border-dark">Free Membership</div>
          <div class="col-6 fs-s-3 fs-xs-4 px-s-2 px-xs-3 py-3 border-bottom border-primary">VIP Membership</div>
        </div>
        <div class="row table-row-flex">
          <div class="col-12 p-3">
            1. {{ section.settings.bullet_1 | escape }}
          </div>
          <div class="col-6 pb-3"><img width="20px" src="{{ 'table-checkmark.svg' | asset_url }}" alt=""></div>
          <div class="col-6 pb-3"><img width="20px" src="{{ 'table-checkmark.svg' | asset_url }}" alt=""></div>
        </div>
        <div class="row table-row-flex">
          <div class="col-12 p-3">
            2. {{ section.settings.bullet_2 | escape }}
          </div>
          <div class="col-6 pb-3"><img width="20px" src="{{ 'table-checkmark.svg' | asset_url }}" alt=""></div>
          <div class="col-6 pb-3"><img width="20px" src="{{ 'table-checkmark.svg' | asset_url }}" alt=""></div>
        </div>
        <div class="row table-row-flex">
          <div class="col-12 p-3">
            3. {{ section.settings.bullet_3 | escape }}
          </div>
          <div class="col-6 pb-3">&#8213;</div>
          <div class="col-6 pb-3"><img width="20px" src="{{ 'table-checkmark.svg' | asset_url }}" alt=""></div>
        </div>
        <div class="row table-row-flex">
          <div class="col-12 p-3">
            4. {{ section.settings.bullet_4 | escape }}
          </div>
          <div class="col-6 pb-3">&#8213;</div>
          <div class="col-6 pb-3"><img width="20px" src="{{ 'table-checkmark.svg' | asset_url }}" alt=""></div>
        </div>
        <div class="row table-row-flex">
          <div class="col-12 p-3">
            5. {{ section.settings.bullet_5 | escape }}
          </div>
          <div class="col-6 pb-3">&#8213;</div>
          <div class="col-6 pb-3"><img width="20px" src="{{ 'table-checkmark.svg' | asset_url }}" alt=""></div>
        </div>
        <div class="row table-row-flex">
          <div class="col-12 p-3">
            6. {{ section.settings.bullet_6 | escape }}
          </div>
          <div class="col-6 pb-3">&#8213;</div>
          <div class="col-6 pb-3"><img width="20px" src="{{ 'table-checkmark.svg' | asset_url }}" alt=""></div>
        </div>
        <div class="row table-row-flex">
          <div class="col-12 p-3">
            7. {{ section.settings.bullet_7 | escape }}
          </div>
          <div class="col-6 pb-3">&#8213;</div>
          <div class="col-6 pb-3"><img width="20px" src="{{ 'table-checkmark.svg' | asset_url }}" alt=""></div>
        </div>
        <div class="row table-row-flex">
          <div class="col-6">
            <div class="cta-container py-4"><button href="{{ section.settings.free_link }}" class="cta-link btn btn-primary px-5">Free</button>
            </div>
          </div>
          <div class="col-6">
                <div class="cta-container py-4">{% render 'subscribe-button', variant_id: '40438330032326', selling_plan: '566329542', button_text: '€97 / Month' %}</div>
            </div>
          </div>
        </div>

</section>

{% schema %}
{
  "name": {
    "cs": "Formát RTF",
    "da": "RTF",
    "de": "Packages Table",
    "en": "Packages Table",
    "es": "Texto enriquecido",
    "fi": "Packages Table",
    "fr": "Texte enrichi",
    "it": "Packages Table",
    "ja": "リッチテキスト",
    "ko": "Packages Table",
    "nb": "Packages Table",
    "nl": "Tekst met opmaak",
    "pl": "Tekst sformatowany",
    "pt-BR": "Packages Table",
    "pt-PT": "Texto formatado",
    "sv": "Packages Table",
    "th": "Packages Table",
    "tr": "Zengin metin",
    "vi": "Văn bản đa dạng thức",
    "zh-CN": "富文本",
    "zh-TW": "RTF 文字"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "bullet_1",
      "label": "Bullet 1"
    },
    {
      "type": "text",
      "id": "bullet_2",
      "label": "Bullet 2"
    },
    {
      "type": "text",
      "id": "bullet_3",
      "label": "Bullet 3"
    },
    {
      "type": "text",
      "id": "bullet_4",
      "label": "Bullet 4"
    },
    {
      "type": "text",
      "id": "bullet_5",
      "label": "Bullet 5"
    },
    {
      "type": "text",
      "id": "bullet_6",
      "label": "Bullet 6"
    },
    {
      "type": "text",
      "id": "bullet_7",
      "label": "Bullet 7"
    },
    {
      "type": "url",
      "id": "free_link",
      "label": "Free Button Link"
    }
  ],
  "presets": [
    {
      "name": {
        "cs": "Formát RTF",
        "da": "RTF",
        "de": "Packages Table",
        "en": "Packages Table",
        "es": "Texto enriquecido",
        "fi": "Packages Table",
        "fr": "Texte enrichi",
        "it": "Packages Table",
        "ja": "リッチテキスト",
        "ko": "Packages Table",
        "nb": "Packages Table",
        "nl": "Tekst met opmaak",
        "pl": "Tekst sformatowany",
        "pt-BR": "Packages Table",
        "pt-PT": "Texto formatado",
        "sv": "Packages Table",
        "th": "Packages Table",
        "tr": "Zengin metin",
        "vi": "Văn bản đa dạng thức",
        "zh-CN": "富文本",
        "zh-TW": "RTF 文字"
      },
      "category": {
        "cs": "Text",
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "tr": "Metin",
        "vi": "Văn bản",
        "zh-CN": "文本",
        "zh-TW": "文字"
      }
    }
  ]
}
{% endschema %}
