<style>
  nav {
    visibility: hidden;
  }

  footer {
    display: none;
  }

  body {
    background-color: black;
    min-height: 100vh;
  }

  .js-mobile-nav-toggle {
    display: none;
  }

</style>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <h3 class="text-gray">3/3</h3>
      <h1 class="fs-1 text-white">Welke onderwerpen wil je ontwikkelen?</h1>
    </div>
  </div>
  <div class="row py-4">
    <div class="col-12">
      <div class="cta-container mt-2 text-center">
        <button class="cta-link btn btn-primary rounded w-100 fs-4"><a class="text-white"
            href="{{shop.url}}/pages/test-end-1">TOON RESULTATEN </a></button>
      </div>
    </div>
  </div>
  <div class="row py-4">
    <div class="col-6 col-lg-4 p-1 p-lg-3">
      <div class="border rounded">
        <p class="fw-bold text-white pt-3 ps-3">Network</p>
        <img src="{{ 'graph-test.png' | asset_img_url: 'master' }}" class="img-responsive w-100 rounded">
      </div>
    </div>
    <div class="col-6 col-lg-4 p-1 p-lg-3">
      <div class="border rounded">
        <p class="fw-bold text-white pt-3 ps-3">Grafische interpretatie</p>
        <img src="{{ 'graph-test.png' | asset_img_url: 'master' }}" class="img-responsive w-100 rounded">
      </div>
    </div>
    <div class="col-6 col-lg-4 p-1 p-lg-3">
      <div class="border rounded border-warning">
        <p class="fw-bold text-white pt-3 ps-3">Strategie en mentaliteit</p>
        <img src="{{ 'graph-test.png' | asset_img_url: 'master' }}" class="img-responsive w-100 rounded">
      </div>
    </div>
    <div class="col-6 col-lg-4 p-1 p-lg-3">
      <div class="border rounded">
        <p class="fw-bold text-white pt-3 ps-3">
          Veiligheid</p>
        <img src="{{ 'graph-test.png' | asset_img_url: 'master' }}" class="img-responsive w-100 rounded">
      </div>
    </div>
    <div class="col-6 col-lg-4 p-1 p-lg-3">
      <div class="border rounded">
        <p class="fw-bold text-white pt-3 ps-3">Technische Analyse</p>
        <img src="{{ 'graph-test.png' | asset_img_url: 'master' }}" class="img-responsive w-100 rounded">
      </div>
    </div>
    <div class="col-6 col-lg-4 p-1 p-lg-3">
      <div class="border rounded">
        <p class="fw-bold text-white pt-3 ps-3">
          Voertuigen om winst te maken</p>
        <img src="{{ 'graph-test.png' | asset_img_url: 'master' }}" class="img-responsive w-100 rounded">
      </div>
    </div>
  </div>
</div>
